$amaranth: #E91E63;
$gray: #BDBDBD;
$cod-gray: #161616;

body {
    font-family: lato;
    background: $cod-gray;
    color: white;
}

p {
    margin: 0 0 16px 0;
}


.tick {
    fill: white;
    line {
        stroke: white;
        opacity: 0.5;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
    h1 {
        margin: 24px 0;
        text-transform: capitalize;
        text-align: center;
    }
}

path {
	fill: none;
    // stroke: $amaranth;
    stroke-width: 3px;
}

//test opacity opacity contrast theme
.line:not(:nth-of-type(9)) {
    opacity: 0.2;
    stroke-width: 2px;
}

text {
    fill: white;
}

g[text-anchor="middle"], g[text-anchor="end"] {
    stroke: none;
    fill: white;
    font-size: 16px;
    .domain {
        stroke: white;
        opacity: 0.25;
    }
}