$pink: #E91E63;
$gray: #BDBDBD;

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // padding-top: 64px;
    width: 100%;
    div {
        // height: 16px;
        width: 0px;
        margin: 2px 0;
        font-family: lato;
        color: white;
        transition: 0.125s ease-in;
        &:nth-child(even) {
            background: $pink;
        }
        &:nth-child(odd) {
            background: $gray;
        }
    }
    div:hover {
        transition: 0.125s ease-in;
        cursor: pointer;
        opacity: 0.8;
        padding: 4px;
        font-size: 24px;
    }
}

path {
	fill: none;
    stroke: $pink;
    stroke-width: 2px;
}