$amaranth: #E91E63;
$gray: #BDBDBD;
$cod-gray: #161616;

body {
    font-family: lato;
    // background: #232526;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    

    color: white;
}

// p {
//     margin: 0 0 16px 0;
// }


.tick {
    fill: white;
    line {
        stroke: white;
        opacity: 0.5;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
    h1 {
        margin: 24px 0;
        text-transform: capitalize;
        text-align: center;
    }
}

path {
	fill: none;
    // stroke: $amaranth;
    stroke-width: 3px;
}

//test opacity opacity contrast theme
.line:not(:nth-of-type(7)) {
    opacity: 0.2;
    stroke-width: 2px;
}

text {
    fill: white;
}

g[text-anchor="middle"], g[text-anchor="end"] {
    stroke: none;
    fill: white;
    font-size: 16px;
    .domain {
        stroke: white;
        opacity: 0.25;
    }
}


@supports(display: grid) {
    .legend {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
    }
}

.legend {
    padding: 36px 0;
    p {
        user-select: none;
        // text-align: center;
        padding: 0 16px;
    }
}

.legend__player {
    border-radius: 4px;
    transition: 0.125s;
    &:hover {
        cursor: pointer;
        transition: 0.125s;
        transform: scale(0.95);
        opacity: 0.6 !important;
    }
    &:not(:nth-of-type(7)) {
        opacity: 0.2;
    }
}

.none {
    opacity: 1;
}